.main__Menu{
    position: fixed;
    z-index: 2;
    bottom: 16px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.Nabor{
    display: flex;
    align-items: center;
    margin-top: 60px;
    flex-direction: column;
}